<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bpmn -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="bpmn.presentation.BpmnModelWizardID"
            name="%_UI_BpmnModelWizard_label"
            class="bpmn.presentation.BpmnModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BpmnModelFile.gif">
         <description>%_UI_BpmnModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bpmn -->
      <editor
            id="bpmn.presentation.BpmnEditorID"
            name="%_UI_BpmnEditor_label"
            icon="icons/full/obj16/BpmnModelFile.gif"
            extensions="bpmn"
            class="bpmn.presentation.BpmnEditor"
            contributorClass="bpmn.presentation.BpmnActionBarContributor">
      </editor>
   </extension>

</plugin>
